@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-background: #5137AC;
	--color-text: #fff;
}

body {
	background-color: var(--color-background);
}

p, li {
	color: var(--color-text);
}
