@import 'tailwindcss';

:root {
	--color-background: #5137ac;
	--color-text: #fff;
}

html,
body {
	overflow-x: hidden;
}

body {
	background-color: var(--color-background);
	font-size: 14px;
}

h2 {
	font-size: 48px;
}

@layer base {
	p {
		@apply my-4;
	}
}

@media (min-width: 768px) {
	.transform-testimonial {
		transform: translateX(calc(-1 * var(--active-index) * 100% + var(--active-index) * 30%)) !important;
	}
}

@media (max-width: 767px) {
	.transform-testimonial {
		transform: translateX(calc(-1 * var(--active-index) * 100% + var(--active-index) * -5%)) !important;
	}
}
